@import 'tailwindcss';
@font-face {
  font-family: 'iran';
  src: url('/iran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary-border: #ff9e0c;
  --color-primary-btn: #f97316;
  --color-placeholder-text: #7a7a7a;
}
@theme {
  --font-iran: 'iran', sans-serif;
}
.highcharts-axis-labels {
  fill: #363630 !important;
}
